.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: var(--color-white);
}

.cardWrapper{
    margin-top: 18px;
}

.wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.toggleText{
    cursor: pointer;
    color: var(--color-primary);
}

.filterWrapper{
    margin-top: 15px;
}